definition.json
{"name":"e5cc0e17-ec39-4d4c-8e12-5d2817bf6283","id":"/providers/Microsoft.Flow/flows/e5cc0e17-ec39-4d4c-8e12-5d2817bf6283","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Uber Request Flow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"7ce14023-fedf-4ebc-81ca-480e640cc34e","type":"User","tenantId":"756a3885-940a-4467-ae89-0249a54a41a5"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-04-22T06:20:54.9941184Z","connectionKeySavedTimeKey":"2025-04-22T06:20:54.9941184Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"hThqdQqUZ0SuiQJJpUpBpSNA4Xzf_rxOgcpIDmQMw05UMTNPVTlQMTdWOVdGRUIwTkFJS05KUzQ3RC4u"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_item":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://tdhch-my.sharepoint.com/personal/collins_owori_tdh_ch","table":"ddc029a4-161d-4706-9e9b-3efcdb3ed952","item/RequesterName":"@outputs('Get_response_details')?['body/rdf4b53f1eada45e9ad8202de82f20b88']","item/Position":"@outputs('Get_response_details')?['body/ra8af9b35a27a46298d95145d2219459e']","item/DutyStation":"@outputs('Get_response_details')?['body/re0f814c1e6fd4d60989cc1d68351a7a3']","item/LineManagerEmail":"@outputs('Get_response_details')?['body/r5c40c5fb91024b899f81d7ad051eb777']","item/PickupLocation":"@outputs('Get_response_details')?['body/ra922607a734c4bfcbaa6bad28552a388']","item/DropoffLocation":"@outputs('Get_response_details')?['body/r2d1ec07b87ac4ed2a51dac1ba95677cf']","item/Date":"@outputs('Get_response_details')?['body/r626de2fd7d764a7bab1e8d459704cff8']","item/Purpose":"@outputs('Get_response_details')?['body/radebb5cc49c2415b9d2aa9d002d9e6cf']","item/RequestersEmail":"@outputs('Get_response_details')?['body/responder']","item/ApprovalStatus/Value":"Pending","item/SubmissionDate":"@outputs('Get_response_details')?['body/submitDate']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Post_adaptive_card_and_wait_for_a_response":{"runAfter":{"Create_item":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/body/messageBody":"{\n  \"type\": \"AdaptiveCard\",\n  \"body\": [\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Uber Service Request Approval\",\n      \"weight\": \"Bolder\",\n      \"size\": \"Large\"\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n        {\n          \"title\": \"Requester:\",\n          \"value\": \"@{outputs('Create_item')?['body/RequesterName']}\"\n        },\n        {\n          \"title\": \"Pickup:\",\n          \"value\": \"@{outputs('Create_item')?['body/PickupLocation']}\"\n        },\n        {\n          \"title\": \"Dropoff:\",\n          \"value\": \"@{outputs('Create_item')?['body/DropoffLocation']}\"\n        },\n        {\n          \"title\": \"Reason:\",\n          \"value\": \"@{outputs('Create_item')?['body/Purpose']}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Do you approve this Uber request?\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"Input.ChoiceSet\",\n      \"id\": \"approvalDecision\",\n      \"style\": \"expanded\",\n      \"choices\": [\n        {\n          \"title\": \"Approve\",\n          \"value\": \"Approve\"\n        },\n        {\n          \"title\": \"Decline\",\n          \"value\": \"Decline\"\n        }\n      ]\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.Submit\",\n      \"title\": \"Submit\"\n    }\n  ],\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"version\": \"1.4\"\n}\n\n","body/body/recipient/to":"@outputs('Create_item')?['body/LineManagerEmail']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardAndWaitForResponse"},"authentication":"@parameters('$authentication')"}},"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"hThqdQqUZ0SuiQJJpUpBpSNA4Xzf_rxOgcpIDmQMw05UMTNPVTlQMTdWOVdGRUIwTkFJS05KUzQ3RC4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Update_item":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://tdhch-my.sharepoint.com/personal/collins_owori_tdh_ch","table":"ddc029a4-161d-4706-9e9b-3efcdb3ed952","id":"@outputs('Create_item')?['body/ID']","item/Title":"@outputs('Create_item')?['body/Title']","item/RequesterName":"@outputs('Create_item')?['body/RequesterName']","item/Position":"@outputs('Create_item')?['body/Position']","item/DutyStation":"@outputs('Create_item')?['body/DutyStation']","item/LineManagerEmail":"@outputs('Create_item')?['body/LineManagerEmail']","item/PickupLocation":"@outputs('Create_item')?['body/PickupLocation']","item/DropoffLocation":"@outputs('Create_item')?['body/DropoffLocation']","item/Date":"@outputs('Create_item')?['body/Date']","item/Purpose":"@outputs('Create_item')?['body/Purpose']","item/RequestersEmail":"@outputs('Get_response_details')?['body/responder']","item/ApprovalStatus/Value":"Approve","item/SubmissionDate":"@outputs('Create_item')?['body/SubmissionDate']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Update_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Update_item')?['body/RequestersEmail']","emailMessage/Subject":"Uber Request Approved","emailMessage/Body":"<p class=\"editor-paragraph\">Hi @{outputs('Update_item')?['body/RequesterName']}</p><br><p class=\"editor-paragraph\">Your Uber request has been approved by your line manager.</p><br><p class=\"editor-paragraph\">Thanks,</p><p class=\"editor-paragraph\">IT Support</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Post_adaptive_card_and_wait_for_a_response":["Succeeded"]},"else":{"actions":{"Update_item_1":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://tdhch-my.sharepoint.com/personal/collins_owori_tdh_ch","table":"ddc029a4-161d-4706-9e9b-3efcdb3ed952","id":"@outputs('Create_item')?['body/ID']","item/Title":"@outputs('Create_item')?['body/Title']","item/RequesterName":"@outputs('Create_item')?['body/RequesterName']","item/Position":"@outputs('Create_item')?['body/Position']","item/DutyStation":"@outputs('Create_item')?['body/DutyStation']","item/LineManagerEmail":"@outputs('Create_item')?['body/LineManagerEmail']","item/PickupLocation":"@outputs('Create_item')?['body/PickupLocation']","item/DropoffLocation":"@outputs('Create_item')?['body/DropoffLocation']","item/Date":"@outputs('Create_item')?['body/Date']","item/Purpose":"@outputs('Create_item')?['body/Purpose']","item/RequestersEmail":"@outputs('Create_item')?['body/RequestersEmail']","item/ApprovalStatus/Value":"Decline","item/SubmissionDate":"@outputs('Create_item')?['body/SubmissionDate']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_1":{"runAfter":{"Update_item_1":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Update_item_1')?['body/RequestersEmail']","emailMessage/Subject":"Uber Request Declined","emailMessage/Body":"<p class=\"editor-paragraph\">Hi @{outputs('Update_item_1')?['body/RequesterName']},</p><br><p class=\"editor-paragraph\">Sorry, your Uber request was declined by your line manager.</p><br><p class=\"editor-paragraph\">Thanks,</p><p class=\"editor-paragraph\">IT Support</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@outputs('Post_adaptive_card_and_wait_for_a_response')?['body']?['data']?['approvalDecision']\r\n","Approve"]}]},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-59d37c96-531b-4762-926a-4efefb77e5b5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified","apiName":"microsoftforms"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-790b1867-3f97-4585-86d6-1b97aa4bd613","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline"},"shared_teams":{"connectionName":"shared-teams-a8613a09-55bd-4f10-94c4-b65aeda8d75a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams"},"shared_office365":{"connectionName":"shared-office365-b5127e86-f999-4b0c-9c52-f546826648c7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365"}},"flowFailureAlertSubscribed":false,"isManaged":false}}